<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Music Recommendation System</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic&amp;display=swap"
    />
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="static/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="static/css/Features-Large-Icons-icons.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/Footer-Basic.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#page-top">Anju</a
        ><button
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          class="navbar-toggler navbar-toggler-right"
          type="button"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#login">Connect</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#signup">signup</a>
            </li>
            <li class="nav-item"></li>
          </ul>
        </div>
      </div>
    </nav>
    <header
      class="text-center text-white d-flex masthead"
      data-bss-hover-animate="pulse"
      style="
        background: url('static/img/piano3.jpg'),
          linear-gradient(62deg, white, black 46%), #ffffff;
        background-size: cover, auto, auto;
      "
    >
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 col-xl-12 offset-xl-0 mx-auto">
            <h1 class="text-uppercase">
              <strong
                >Music recommendation system based on emotion
                recognition</strong
              >
            </h1>
            <hr />
          </div>
        </div>
        <div class="col-lg-8 col-xl-7 offset-xl-0 mx-auto">
          <p
            class="text-faded mb-5"
            style="
              margin: 0px 0px;
              margin-bottom: 24px;
              background: #16333708;
              color: rgb(255, 255, 255);
            "
          >
            We can help you find a playlist of songs that best suit your mood.
          </p>
          <!-- <a class="btn btn-primary btn-xl" role="button" href="#services"
            >Generate Playlist</a
          >-->
        </div>
      </div>
      </div>
    </header>
    <p>{{data}}</p>
    <!-- <section class="details">
      <h2 class="section-heading text-center">Just a few more things</h4>
      <div class="cont1">
        <div class="row full-height justify-text-center">
          <div class="col-12">
            <div class="section">
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front">
                    <div class="center-wrap">
                      <div class="section">
                        <h4 class="section-heading text-center">Just a few more things</h4>

                        <select class="dropdown">
                          <option value="">Select a Language</option>
                          <option value="English">English</option>
                          <option value="Hindi">Hindi</option>
                          <option value="Korean">Korean</option>
                          <option value="Malayalam">Malayalam</option>
                          <option value="Tamil">Tamil</option>
                          <option value="Telugu">Telugu</option>
                        </select>

                        <div class="form-radio">
                          <label class="label-radio">Number of songs in your playlist</label>
                          <div class="radio-item-list">
                            <span class="radio-item">
                              <input
                                type="radio"
                                name="number_songs"
                                value="4"
                                id="number_songs_4"
                              />
                              <label for="number_songs_4">4</label>
                            </span>
                            <span class="radio-item active">
                              <input
                                type="radio"
                                name="number_songs"
                                value="8"
                                id="number_songs_8"
                                checked="checked"
                              />
                              <label for="number_songs_8">8</label>
                            </span>
                            <span class="radio-item">
                              <input
                                type="radio"
                                name="number_songs"
                                value="12"
                                id="number_songs_6"
                              />
                              <label for="number_songs_6">12</label>
                            </span>
                            <span class="radio-item">
                              <input
                                type="radio"
                                name="number_songs"
                                value="15"
                                id="number_songs_15"
                              />
                              <label for="number_songs_15">15</label>
                            </span>
                            <span class="radio-item">
                              <input
                                type="radio"
                                name="number_songs"
                                value="20"
                                id="number_songs_20"
                              />
                              <label for="number_songs_20">20</label>
                            </span>
                          </div>
                        </div>
                        <div class="form-submit">
                          <input
                            type="submit"
                            value="Generate Playlist"
                            class="btn mt-4"
                            id="submit"
                            name="submit"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/js/creative.js"></script>

    <script src="static/js/Bootstrap-Image-Uploader.js"></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/script.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='vendors/jQuery/jquery.min.js') }}"
    ></script> -->
    <!-- <div class ="outer-shadow" id="ResultArea" style="
        padding: 15px;
        width: 49%;
        float: left;
        height: 100%%;
        margin: auto;
        text-align: center;
        margin-bottom:15px;
      ">
    </div>
  </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
setInterval(function() {
        $.getJSON('/t', function(data) {
            CreateHtmlTable(data);
            console.log(data,"DATA");
          });
        return false;
    }, 100);
function CreateHtmlTable(data) {
      //Clear result div
      $("#ResultArea").html("");
      //Crate table html tag
      var table = $("<table class = 'table table-striped table-light table-bordered table-hover table-sm table-responsive' id=DynamicTable></table>").appendTo("#ResultArea");
      //Create table header row
      var rowHeader = 
      $("<tr></tr>").appendTo(table);
      $("<td></td>").text("Name").appendTo(rowHeader);
      $("<td></td").text("Album").appendTo(rowHeader);
      $("<td></td>").text("Artist").appendTo(rowHeader)
      //Get JSON data by calling action method in controller
      $.each(data, function (i, value) {

          //Create new row for each record
          var row = 
          $("<tr></tr>").appendTo(table);
          $("<td></td>").text(value.Name).appendTo(row);
          $("<td></td>").text(value.Album).appendTo(row);
          $("<td></td>").text(value.Artist).appendTo(row);
      });
    }

  </script> -->

  
</html>
